.filter {
    width: 400px;
    border: 1px solid #f1ebeb;
    // background-color: rgb(100, 50, 10);
    background-color: rgb(245, 245, 220);
    // color: #f1ebeb;
    // color: rgb(191, 177, 56);
    padding: 25px 50px;
    align-self: flex-start;
}

.filter__label {
    font-size: 27px;
    color: rgb(191, 177, 56);
    font-weight: 700;
    padding: 25px 0;
    text-align: center;
}

.filter__row {
    // padding: 50px 0;
}

.filter__item {
    padding: 25px 0;
    border-bottom: 2px solid rgb(191, 177, 56);

    &:first-child {
        padding: 0 0 25px;
    }

    &:nth-last-child(2) {
        margin: 0 0 25px;
    }
}

.filter__room {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
}

.square {
    display: flex;
    justify-content: space-between;
}

.room__category {
    font-size: 32px;
    background-color: inherit;
    color: inherit;
    transition: color, font-size .3s;
    height: 45px;
    width: 45px;
    // background-color: rgb(5, 14, 41);
    background-color: rgb(36, 76, 79);

    border-radius: 50%;

    &:hover {
        color: white;
    }

    &:focus {
        color: white;
        font-size: 36px;
    }
}


.filter__square {
    border: 1px solid rgb(172, 184, 182);
    color: rgb(36, 76, 79);
    background-color: inherit;
    font-size: 26px;
    width: 125px;
}

.filter__square::placeholder {
    color: rgb(172, 184, 182);
    padding: 10px;
}

.horizontal-slider {
    display: flex;
    align-items: center;
    height: 45px;


    .example-thumb {
        cursor: pointer;
        font-size: 30px;
        padding: 5px;
        border-radius: 50%;
        // background-color: rgb(5, 14, 41);
        background-color: rgb(36, 76, 79);

        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-active {
            font-size: 32px;
        }
    }

    .example-track {
        height: 5px;
        padding: 5px;
        // background-color: rgb(5, 14, 41);
        background-color: rgb(36, 76, 79);

    }

    .example-mark {
        height: 3px;
        background-color: #fff;
    }
}

.filter__finishing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.finishing__category {
    // background-color: rgb(5, 14, 41);
    background-color: rgb(36, 76, 79);

    color: inherit;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 3px;
    transition: font-size .3s;
    max-height: 27px;

    &:focus {
        font-size: 20px;
    }
}

.floor {
    display: flex;
    justify-content: space-between;
}

.filter__floor {
    border: 1px solid rgb(172, 184, 182);
    color: rgb(36, 76, 79);
    background-color: inherit;
    font-size: 26px;
    width: 125px;
}

.filter__action {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter__action button {
    background-color: rgb(36, 76, 79);
    // background-color: rgb(5, 14, 41);
    color: #fff;

    padding: 5px 0;
    font-size: 28px;
}


// .filter__action button:last-child {
//     background-color: rgb(158, 182, 183);
// }

.catalog {
    margin: 50px 0;
}

.catalog__wrapper {
    display: flex;
    gap: 185px;
}

.catalog__title {
    font-size: 72px;
    text-align: right;
    margin: 75px 0;
    padding-right: 100px;
    color: #f1ebeb;
}

.catalog__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.catalog__item {
    display: flex;
    gap: 25px;
    padding: 25px;
    // border: .1px solid rgb(245, 245, 220);
    box-shadow: 0 0 2px rgb(245, 245, 220);
    color: #f1ebeb;
    width: 800px;
}

.catalog__item a {
    display: flex;
    gap: 25px;
    color: rgb(230, 230, 230);
}

.catalog__img {
    width: 150px;
}

.catalog__img img {
    width: 150px;
}

.catalog__description {
    display: grid;
    gap: 25px;
    align-items: center;
    grid-template-areas: 'room square . . . . . . . price'
        'entrance floor . . . . . . . .'
        'finishing . . . . . . . . .';
}

.catalog__room {
    grid-area: room;
}

.catalog__square {
    grid-area: square;
}

.catalog__price {
    grid-area: price;
    font-weight: 900;
    font-size: 24px;
}

.catalog__entrance {
    grid-area: entrance;
}

.catalog__floor {
    grid-area: floor;
}

.catalog__finishing {
    grid-area: finishing;
}